/* Import Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Apply globally */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* Center everything on the page */
body {
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}
